.card {
  overflow: hidden;
  position: relative;
  float: left;
  display: block;
  page-break-inside: avoid;
  height: 94mm;
  width: 67mm;
  // we clip the "bleed" of the card
  -webkit-clip-path: inset(3mm 2mm 3mm 2mm);
  clip-path: inset(3mm 2mm 3mm 2mm);
}