.layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    position: absolute;
    width: 100%;
    font-size: 4.5mm;
    text-align: center;
    text-transform: capitalize;
}

.text {
    font-size: 3.2mm;
    text-align: left;
}

.text > * {
    margin-bottom: 1.6mm;
    line-height: 3.4mm;
}


.text > ol {
    font-family: unset;
    margin-bottom: 1.6mm;
    font-size: 3.2mm;
    text-align: left;
    line-height: 3.4mm;
    list-style-position: inside;
    list-style: decimal;
    padding-left: 3mm;
}

.text > ol li {
    margin-bottom: 1.9mm;
}

.text >:last-child {
    margin-bottom: 0;
}



.text > blockquote {
    border: 0.3mm solid #C09664;
    background-color: #E3D3C6;
    padding: 1mm 2mm;
    position: relative;
    left: -2mm;
    width: 105%;
}


.footer {
    position: absolute;
    bottom: 5mm;
    width: 100%;
    font-size: 3mm;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    text-transform: uppercase;
    text-align: center;
}
