.title {
    position: absolute;
    width: 100%;
    font-size: 4.5mm;
    top: 40mm;
    left: -26mm;
    text-align: right;
    text-transform: capitalize;
    transform: rotate(-90deg);
    color: white;
}

.alert {
    position: absolute;
    width: 100%;
    font-size: 10mm;
    top: 4mm;
    left: 0;
    text-align: center;
    color: white;
}

.text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20mm;
    left: 0;
    padding: 8mm 7mm 13mm 15mm;
}
