.band {
    position: absolute;
    top: 6.5mm;
    left: 14.7mm;
    height: 12mm;
    width: 100%;
    opacity: 0.75;
    background-color: #854C76;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 5% 50%);
}

.title {
    position: absolute;
    width: 100%;
    font-size: 4.5mm;
    top: 6mm;
    left: 0;
    text-align: left;
    color: white;
    padding: 1mm 8mm 1mm 19mm;
}

.text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20mm 6mm 0 6mm;
}
