.title {
    position: absolute;
    width: 100%;
    font-size: 4.5mm;
    top: 51mm;
    text-align: center;
    text-transform: capitalize;
}

.text {
    position: absolute;
    width: 100%;
    top: 58mm;
    padding: 2mm 7mm;
}